<ion-view view-title="Authentication"> 
    <ion-content>
        <h3 class="padding text-center">Sign up!</h3> 
        <div class="list">
            <label class="item item-input">
                <span class="input-label">Name</span>
                <input type="text" ng-model = "auth.name">
            </label>
            <label class="item item-input">
                <span class="input-label">E-mail</span>
                <input type="email" ng-model = "auth.username">
            </label>
            <label class="item item-input">
                <span class="input-label">Password</span>
                <input type="password" ng-model = "auth.password">
            </label>
        </div>
    <div class = "text-center">
        <pre class = "padding" >{{auth.responseMessage}}</pre> 
        <button class = "button button-positive" ng-click="auth.signup()">Sign up!</button>
        <button class="button button-calm" ng-click = "auth.login()">Sign-in</button>
        <a class = "button button-clear button-positive" href = "/#/tab/home/">Home</a>
    </div>
</ion-content>
</ion-view>