<ion-view view-title="Find Somewhere to Go">
    <ion-content>
        <div class="list list-inset">
            <label class="item item-input">
                <i class="icon ion-search placeholder-icon"></i>
                <input ng-model ="Srch.searchText" type="text">
            </label>
        </div>      
        
        <div class="list">

            <a ng-repeat="result in Srch.searchResults" class="item item-thumbnail-left" href="#/tab/event">
                <img src="{{result.image_url}}">
                <h2>{{result.name}}</h2>
                <p>{{result.snippet_text}}</p>
            </a>
        </div>
    </ion-content>
</ion-view>